.projects_header {
  position: relative;
  text-align: center;
  padding-bottom: 1.5rem;
  z-index: 100;
}

.projects_container {
    height: 80vh;
    position: relative;
    background: var(--color-bg-variant);
    border-radius: 12rem 17rem 12rem 17rem ;
    align-items: center; 
    font-size: 0.9rem;
    margin-left:7vw; 
    margin-right:7vw; 
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    z-index: 100;
}

.cards {
    display: inline-grid;
    grid-auto-flow: row;
    width: 80%;
    height: 70vh;
    margin-left:10.5%;
    list-style: none;
    margin-top: 2rem;
    margin-bottom: 17rem;

  }
  
  .card {
    display: flex;
    height: 30vh;
    padding: 20px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.729);
    border-radius: 18px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 25%);
    scroll-snap-align: start;
    /* transition: all 0.2s; */
    position:relative;
    margin-right: 10px;
  }
  
  .card:hover {
    color: var( --color-accent);
    background: var(--color-primary-variant);
    opacity: 70%;
  }
  
  .card .card-title {
    font-size: 20px;
    margin-left: 1rem;
  }
  
  .card .card-content .card-text{
    margin-left: 1rem;
    height: 15vh;
    width: 35vw;
  }

  .card .card-content .card-img {
    width: 20vw;
    height: 20vh;
    /* max-height: %; */
    margin-right: 3rem;
    overflow:hidden;
    right:0;
    position: absolute;
    background: white;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 20%); 
  }
  
  .card .card-content .card-img > img {
    width: 20vw;
    height: 19vh;
    object-fit: fill;
  }

  .card .card-link-wrapper {
    margin-top: auto;
    display: flex;
    justify-content: bottom;    
    gap: 1rem;
    position: absolute;
    margin-left: 3rem;
  }
  
  .card .card-link {
    display: inline-block;
    text-decoration: none;
    color: var(--color-accent);
    background: var(--color-primary-variant);
    padding: 6px 12px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 12%);
    position: relative;
  }
  
  .card:hover .card-link {
    background: var(--color-primary);
    color: var(--color-white);
  }

  .card-link:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 30%);
  }

  @media screen and (max-width: 1024px) {
    .projects_header {
        padding-top: 2rem;
    }

    .cards {
        width: 70%;
        height: 68vh;
        margin-left: 15%;
        list-style: none;
        /* overflow-x: scroll;
        className-snap-type: x mandatory; */
        margin-top: 3.5rem;
    
    }
    .card {
        height: 30vh;
    }

    .card .card-title {
        font-size: 20px;
        margin-left: 1rem;

    }

    .card .card-content .card-text{
        margin-left: 1rem;
        height: 15vh;
        width: 30vw;
      }
    }

    .card .card-link-wrapper {
        /* margin-top: auto; */
        display: flex;
        justify-content: bottom;    
        gap: 0.5rem;
        position: absolute;
        margin-left: 1rem;
    }

  /* media queries for small devices -> ex: phones */
@media screen and (max-width: 600px) {
    .projects_header {
        padding-top: 2rem;
    }
    .projects_container {
        border-radius: 5rem 8rem 5rem 8rem ;
        align-items: center; 

    }

    .cards {
        display: inline-grid;
        grid-auto-flow: row;
        width: 70vw;
        height: 70vh;
        list-style: none;
        margin-top: 2rem;
        margin-left: 10vw;
    
    }
    .card {
        height: 50vh;

    }

    .card .card-title {
        font-size: 20px;
        text-align: left;
        margin-left: 0rem;
    }

    .card .card-content {
      height: 16vh;
      overflow: hidden;
      /* background: red; */
    }

    .card .card-content .card-text{
        height:8vh;
        width: 105%;
        text-align: left;
        margin-left: 0rem;
        
      }


    .card .card-link-wrapper {
        display: flex;
        gap: 0.5rem;
        position: absolute;
        left:0;
        bottom: 0; 
        margin-bottom: 24vh;       

        
    }

    /* .card .card-img > img {
        display: none;

    } */

    .card .card-content .card-img {
        width:90%;
        /* height: 50vh; */
        /* max-height: 100%; */
        margin-right: 0.9rem;
        margin-bottom: 1rem;
        overflow:hidden;
        position: absolute;
        align-items: center;
        bottom: 0;
      }
      
      .card .card-content .card-img > img {
        width: 100%;
        height: 19vh;
        object-fit: "fill";
        
        
      }
}

    
    

  