.footer {
    position: relative;
    background: var( --color-primary-variant);
    border-radius: 17rem 17rem 0 0 ;
    text-align:center;  
    font-size: 0.9rem;
    margin-top: 7rem; 
    z-index: 100; 
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.193);
}

.footer_logo {
   font-size: 2rem;
   font-weight:500;
   margin-bottom: 2rem;
   display: inline-block;
   padding-top: 3rem;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 0 auto 3rem;
}

.footer_socials {
    display: flex;
    justify-content: center;    
    gap: 1rem;
    padding-bottom: 3rem;
}